.innercontent
{
    padding-bottom: 30px;
}

.educomponents
{
    margin-top: 30px;
}

.educomponents h3
{
    font-weight: 300;
}


.educomponents ul
{
    font-weight: 200;
    margin-top: 10px;
    margin-left: 15px;
}

.imagemap
{
    margin-top: 25px;
}